*{
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #fefaff;
}

/* Header Section Styling  */
header  {
    background-color: #e8e1e1;
    color: black;
    display: flex; 
    flex-direction: row;
    flex: wrap;
    font-family: Tahoma, Verdana, sans-serif;
}
header h1 {
    background-color: #642670;
    color: white;
    width:30%;
    padding: 10px; 
    border-radius: 25px;
}
header nav {
    display: flex; 
    flex-direction: row;
    flex: wrap;
    width: 50%;
}

header nav a {
    padding:10px;
    margin-left:50px; 
    color: black;
    float: top-right; 
}

.logo{
    width: 60px; 
    height: 60px;
}


/* Footer Styling */

footer {
    background-color: #642670;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
